body {
  margin: 0;
  padding: 59px 24px 24px;
}

.search-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 24px;
  height: 59px;
  z-index: 1;
  background: linear-gradient(180deg, white 37px, transparent 100%);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
