body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.search-bar-wrapper {
  padding: 0 24px 24px;
}

.grid-wrapper {
  overflow-y: auto;
  padding: 0 24px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
